<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Report</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div className="main-info">
        <p><strong>Account number:</strong>
            ***4567
        </p>
        <p><strong>Bank name:</strong>
            caixa
        </p>
        <p><strong>IFSC code:</strong>
            321
        </p>
        <p>
            <strong>Total available balance:</strong>
            62600
        </p>
    </div>
    <br />
    <h4>
        Detailed transactions between 6th September 2022 and 6th September 2022
    </h4>
    <table class="report-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Deposits</th>
                <th>Withdrawals</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        1000
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        62600
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        3000
                    </td>
                    <td>
                        61600
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        3000
                    </td>
                    <td>
                        64600
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        3000
                    </td>
                    <td>
                        67600
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        70600
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        70400
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        70200
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        70000
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        69800
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        200
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        69600
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        100
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        69400
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-06
                    </td>
                    <td>
                        100
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        69300
                    </td>
                </tr>
                
        </tbody>
    </table>
</body>

</html>