<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Report</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div className="main-info">
        <p><strong>Account number:</strong>
            ***4567
        </p>
        <p><strong>Bank name:</strong>
            caixa
        </p>
        <p><strong>IFSC code:</strong>
            321
        </p>
        <p>
            <strong>Total available balance:</strong>
            69200
        </p>
    </div>
    <br />
    <h4>
        Detailed transactions between 2nd September 2022 and 4th September 2022
    </h4>
    <table class="report-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Deposits</th>
                <th>Withdrawals</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>
                        2022-09-02
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        400
                    </td>
                    <td>
                        69200
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-02
                    </td>
                    <td>
                        60000
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        69600
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-02
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        500
                    </td>
                    <td>
                        9600
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-02
                    </td>
                    <td>
                        100
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        10100
                    </td>
                </tr>
                
                <tr>
                    <td>
                        2022-09-02
                    </td>
                    <td>
                        10000
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        10000
                    </td>
                </tr>
                
        </tbody>
    </table>
</body>

</html>